.product {
    margin-bottom: 40px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.product-thumb{
    position: relative;
    z-index: 2;
    margin: 0;    
    width: 100%;
    height: 100%;
}
.product-thumb .image {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
}
.product-thumb .image img:hover{
    transform: scale(1.2);
}
.product-thumb .image img {
    transition: all .5s ease 0s;
    z-index: 3;
    width: 100% !important;
    height: auto;
}
.product-info {
    position: relative;
    z-index: 3;
    padding: 20px;
}
.product-info .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.2;
    margin-top: 0;
    transition: all .5s ease 0s;
    a{
        text-decoration: none;
        font-size: 20px;
        color: var(--primary-theme);
        font-weight: 600;
    }
}
.desc{
    font-weight: 400;
    margin-top: 8px;
    font-size: 14px;
}
.product-info .sub-detail {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    line-height: 1;
    display: flex;
    padding-bottom: 10px;
    justify-content: flex-end;
}
.product-info .sub-detail .prop-head {
    color: #222;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    margin-right: 4px;
}
.sub-detail .prop-head {
    color: #222;
    font-size: 12px;
    font-weight: 400;
}
.product-info .price {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.book_btn{
    text-align: right;
    margin-top: 10px;
}
.book_btn button{
    background-color: var(--primary-theme);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 12px 25px;
    font-size: 16px;
}