.profile_main{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 10px;
    span.material-symbols-outlined{
        font-size: 60px;
        color: var(--primary-theme);
    }
}
.profile_text h2,.profile_text h4{
    margin: 0;
}
.address_body{
    padding: 20px 30px;
    background: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.address_box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.address_info{
    h4{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }
    h5{
        font-size: 14px;
        margin: 0;
    }
}
.address_actionBTn{
    display: flex;
    align-items: center;
    gap: 10px;
    .material-symbols-outlined{
        font-size: 30px;
        border: 1px solid #c1c1c1;
        padding: 5px 10 px;
        border-radius: 10px;
        color: #424242;
    }
}
.address_footer{
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #c1c1c1;
}
.user_section{
    margin: 15px 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.inputWrap{
    label{
        display: block;
        margin-bottom: 5px;
    }
    input{
        height: 50px;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #EAECF2;
    }
}
.contactForm{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    gap: 10px;
}
.dropDown .p-dropdown.p-inputwrapper{
    height: 100%;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #EAECF2;
}
.grid2col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.address_popup{
    .p-dialog{

        border-radius: 20px;
        background: #fff;
        padding: 20px;
    }
}
@media screen and (max-width:960px) {
    .address_popup{

        .p-dialog{
            width: 100% !important;
            margin: 10px;
            .p-dialog-header-icon{
                background: transparent;
                border: 0;
                font-size: 20px;
            }
            .p-dialog-title{
                font-size: 20px;    
            }
            .user_section{
                padding: 0;
            }
        }
    }
}