@import'./../section-6/section-6.component.scss';
.section7{
    padding-top: 60px;

    .card_grid2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        grid-row-gap: 40px;
    }
    .concert_img img{
        object-fit: cover;
    }
}
@media screen and (max-width:960px) {
    .section4 .concert_img {
        margin-right: 0;
    }
}