<section class="section7 section4">
    <h1 class="section_heading">Protective Siddhi Pujas</h1>
    <div class="card_grid2">
      <div class="concert_img">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/Other/H-4412.1.jpg"  class="w-full border-round" />
        <h5>Pop</h5>
        <h4>Hamilton (Touring)</h4>
        <div class="hoverContent">
        </div>
      </div>
      <div class="concert_img">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/Other/H-4412.1.jpg"  class="w-full border-round" />
        <h5>Pop</h5>
        <h4>Hamilton (Touring)</h4>
        <div class="hoverContent">
        </div>
      </div>
      <div class="concert_img">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/Other/H-4412.1.jpg"  class="w-full border-round" />
        <h5>Pop</h5>
        <h4>Hamilton (Touring)</h4>
        <div class="hoverContent">
        </div>
      </div>
      <div class="concert_img">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/Other/H-4412.1.jpg"  class="w-full border-round" />
        <h5>Pop</h5>
        <h4>Hamilton (Touring)</h4>
        <div class="hoverContent">
        </div>
      </div>
  
    </div>
  </section>