<div class="header_hText">
    卐 "शुद्धे पूजा, शाश्वते निधिः" 卐
</div>
<header class="header">
    <div class="header_main">
        <div class="header_logo">
            <button (click)="menuOpen = !menuOpen" class="menu-toggle mobiShow">
                <span class="material-symbols-outlined">
                    menu
                    </span>
            </button>
            <img src="../../../assets/logo/logo.png" alt="" [routerLink]="'./'">
        </div>
        <div class="header_srh mobiHide">
            <input type="text" placeholder="Search products by name or product code">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>
        <div class="header_aside">
            <ul class="header_links">
                <li class="mobiHide">
                    <span class="" [routerLink]="'/'">
                        Home
                    </span>
                </li>
                <li class="mobiHide">
                    <span class="" [routerLink]="'/about-us'">
                        About Us
                    </span>
                </li>
                <li class="mobiHide">
                    <span class="material-symbols-outlined" [routerLink]="'/favorites'">
                        favorite
                    </span>
                </li>
                <li  [routerLink]="'/addToCart'">
                    <span class="material-symbols-outlined" >
                        shopping_cart
                    </span>
                </li>
                <li>
                    <button class="btn_login" (click)="comServ.showDialog()">
                        Sign In
                    </button>
                </li>
                <li>
                    <div class="header_menu">
                        <button (click)="menu.toggle($event)">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                        </button>
                        <p-menu #menu [model]="items1" [popup]="true" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="header_bottom mobiHide">
        <div class="header_navbar">
            <nav class="site-main-menu hoverable">
                <ul>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name" type="button" [routerLink]="['/listing']">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="logInDialog">
    <p-dialog [(visible)]="comServ.visible" [modal]="true" [draggable]="false" [resizable]="false">
        <popup-login></popup-login>
    </p-dialog>
</div>
<div class="mobile-menu mobiShow" [class.open]="menuOpen">
    <div class="menu-overlay" *ngIf="menuOpen">
        <div class="header_hText">
            卐 "शुद्धे पूजा, शाश्वते निधिः" 卐
        </div>
        <div class="p-10">
            <div class="header_logo">
                <button (click)="menuOpen = !menuOpen" class="menu-toggle">
                    <span class="material-symbols-outlined">
                        close
                        </span>
                </button>
                <img src="../../../assets/logo/logo.png" alt="" [routerLink]="'./'">
            </div>
        </div>

        <div *ngFor="let category of menuCategories" 
        class="menu-category" 
        [ngClass]="{ 'open': category.open }">

        <button (click)="toggleCategory(category)" class="category-header">
          {{ category.name }}
          <span class="material-symbols-outlined">
            keyboard_arrow_down
            </span>
        </button>
        <div *ngIf="category.open" class="category-content">
          <a *ngFor="let item of category.items" [routerLink]="item.link">{{ item.name }}</a>
        </div>
      </div>
    </div>
</div>