<div class="header_hText">
    卐 "शुद्धे पूजा, शाश्वते निधिः" 卐
</div>
<header class="header">
    <div class="header_main">
        <div class="header_logo">
            <img src="../../../assets/logo/logo.png" alt="" [routerLink]="'./'">
        </div>
        <div class="header_aside">
            <span class="material-symbols-outlined">
                favorite
            </span>
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
            <button class="btn_login" (click)="showDialog()">
                login
            </button>
            <div class="header_menu">
                <button (click)="menu.toggle($event)">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </button>
                <p-menu #menu [model]="items1" [popup]="true" />
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="header_navbar">
            <nav class="site-main-menu hoverable">
                <ul>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="has-children">
                        <a href="#">
                            <span class="menu-text">
                                Rudraksha
                            </span>
                        </a>
                        <div class="sub-menu mega-menu tabs-mega-menu">
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                            <div class="sub-menu_content">
                                <a href="#" class="menu-cat-name">
                                    Nepal Rudraksha
                                </a>
                                <div class="menu-cat-ul">
                                    <a class="menu-subcat-name">1 Mukhi Half Moon</a>
                                    <a class="menu-subcat-name">2 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">3 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">4 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">5 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">6 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">7 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">8 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">9 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">10 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">11 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">12 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">13 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">14 Mukhi Nepal</a>
                                    <a class="menu-subcat-name">15 Mukhi Nepal</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="logInDialog">
    <p-dialog [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
        <popup-login></popup-login>
    </p-dialog>
</div>