<section class="section5">
    <h1 lass="section_heading">  Rudra Center Puja Services
    </h1>
    <div class="card_section">
      <div class="card_secWrap">
        <h3 class="puja_heading">Upcoming Mahapujas</h3>
        <div class="card_aside">
          <div class="card_head">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus veniam harum voluptate labore fugit?</h4>
          </div>
          <div class="card_btn">
            <button>
              Book Now
            </button>
          </div>
        </div>
        <div class="card_aside">
          <div class="card_head">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus veniam harum voluptate labore fugit?</h4>
          </div>
          <div class="card_btn">
            <button>
              Book Now
            </button>
          </div>
        </div>
        <div class="card_aside">
          <div class="card_head">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus veniam harum voluptate labore fugit?</h4>
          </div>
          <div class="card_btn">
            <button>
              Book Now
            </button>
          </div>
        </div>
        <div class="card_aside">
          <div class="card_head">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus veniam harum voluptate labore fugit?</h4>
          </div>
          <div class="card_btn">
            <button>
              Book Now
            </button>
          </div>
        </div>
      </div>
      <div class="card_news">
        <div class="card_secWrap">
          <h3 class="puja_heading">Popular Individual Pujas</h3>
          <div class="card_newsWrap">
            <div class="card_img">
              <img src="https://s3.amazonaws.com/RudraCentre/ProductImages/banner/Ganapati-Atharvashirsha-Paath190X190.jpg" alt="">
            </div>
            <div class="card_newsCont">
              <h4>Ganapati Atharvashirsha Paath</h4>
              <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
              <button>Book Now</button>
            </div>
          </div>
          <div class="card_newsWrap">
            <div class="card_img">
              <img src="https://s3.amazonaws.com/RudraCentre/ProductImages/banner/Ganapati-Atharvashirsha-Paath190X190.jpg" alt="">
            </div>
            <div class="card_newsCont">
              <h4>Ganapati Atharvashirsha Paath</h4>
              <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
              <button>Book Now</button>
            </div>
          </div>
          <div class="card_newsWrap">
            <div class="card_img">
              <img src="https://s3.amazonaws.com/RudraCentre/ProductImages/banner/Ganapati-Atharvashirsha-Paath190X190.jpg" alt="">
            </div>
            <div class="card_newsCont">
              <h4>Ganapati Atharvashirsha Paath</h4>
              <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
              <button>Book Now</button>
            </div>
          </div>
          <div class="card_newsWrap">
            <div class="card_img">
              <img src="https://s3.amazonaws.com/RudraCentre/ProductImages/banner/Ganapati-Atharvashirsha-Paath190X190.jpg" alt="">
            </div>
            <div class="card_newsCont">
              <h4>Ganapati Atharvashirsha Paath</h4>
              <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
              <button>Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>