<div class="container">
    <div class="checkout_wrap">
        <div class="checkout_aside">
            <div class="checkout_info">
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="User Information">
                        <p>
                            Lorem ipsum dolor sit amet...
                        </p>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div class="checkout_summary">dsa</div>
    </div>
</div>