<div class="container">
    <div class="checkout_wrap">
        <div class="checkout_aside">
            <div class="checkout_info">
                <h4 class="checkput_Head">
                    Enter details
                </h4>
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="User Information">
                        <div class="user_section">
                            <div class="grid3col mb-15">
                                <div class="inputWrap">
                                    <label for="name">First Name</label>
                                    <input type="text" id="name">
                                </div>
                                <div class="inputWrap">
                                    <label for="name">Middle Name(optional)</label>
                                    <input type="text" id="name">
                                </div>
                                <div class="inputWrap">
                                    <label for="Lastname">Last Name</label>
                                    <input type="text" id="Lastname">
                                </div>
                            </div>
                            <div class="grid2col">
                                <div class="contactWrap">
                                    <label for="phoneNo">Mobile No
                                        <div class="contactForm dropDown">
                                            <p-dropdown 
                                                #phoneNo
                                                [options]="cities" 
                                                [(ngModel)]="selectedCity" 
                                                optionLabel="name" 
                                                placeholder="Code" />
                                            <div class="inputWrap">
                                                <input type="text" id="phoneNo">
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="inputWrap">
                                    <label for="emailname">Email</label>
                                    <input type="text" id="emailname">
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="checkout_info">
                <h4 class="checkput_Head">
                    Enter Shipping Address
                </h4>
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="Shipping Address">
                        <div class="user_section">
                            <div class="inputWrap mb-15">
                                <label for="name">Address Line 1</label>
                                <input type="text" id="name">
                            </div>
                            <div class="inputWrap mb-15">
                                <label for="name">Address Line 1</label>
                                <input type="text" id="name">
                            </div>
                            <div class="grid2col mb-15">
                                <div class="inputWrap">
                                    <label for="Lastname">Landmark</label>
                                    <input type="text" id="Lastname">
                                </div>
                                <div class="inputWrap dropDown">
                                    <label for="Lastname">Country</label>
                                    <p-dropdown 
                                        #phoneNo
                                        [options]="cities" 
                                        [(ngModel)]="selectedCity" 
                                        optionLabel="name" 
                                        placeholder="Country" />
                                </div>
                                <div class="inputWrap dropDown">
                                    <label for="Lastname">State</label>
                                    <p-dropdown 
                                        #phoneNo
                                        [options]="cities" 
                                        [(ngModel)]="selectedCity" 
                                        optionLabel="name" 
                                        placeholder="Country" />
                                </div>
                                <div class="inputWrap dropDown">
                                    <label for="Lastname">City</label>
                                    <p-dropdown 
                                        #phoneNo
                                        [options]="cities" 
                                        [(ngModel)]="selectedCity" 
                                        optionLabel="name" 
                                        placeholder="Country" />
                                </div>
                                <div class="inputWrap">
                                    <label for="Lastname">Pincode / Zipcode</label>
                                    <input type="text" id="Lastname">
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <div class="checkout_info">
                <h4 class="checkput_Head">
                    Enter details
                </h4>
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="User Information">
                        <div class="user_section">
                            <div class="shipping_wrap">
                                <label class="shipping_option">
                                    <input type="radio" name="name">
                                    <div class="shipping_desc">
                                        shipping 1 (2 - 4 Working Days)
                                        <h4>INR 400</h4>
                                    </div>
                                </label>
                                <label class="shipping_option">
                                    <input type="radio" name="name">
                                    shipping 2 (2 - 4 Working Days)
                                </label>
                                <label class="shipping_option">
                                    <input type="radio" name="name">
                                    shipping 3 (2 - 4 Working Days)
                                </label>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div>
            <div class="checkout_summary">
                <div class="bookSum_wrap">
                    <div class="checkput_Head">
                        Order Summary
                    </div>
                    <div class="bookSum_contentWrap">
                        <ul>
                            <li>Product</li>
                            <li>Qty</li>
                            <li>Amount</li>
                        </ul>
                        <ul>
                            <li>1 Mukhi Half Moon Small</li>
                            <li>1</li>
                            <li>INR 2,250</li>
                        </ul>
                    </div>
                    <div class="bookSum_total">
                        <ul>
                            <li>sub total</li>
                            <li>INR 2,250</li>
                        </ul>
                    </div>
                    <div class="bookSum_totalAmt">
                        <ul>
                            <li>Order Total</li>
                            <li>INR 2,250</li>
                        </ul>
                    </div>
                    <div class="bookSum_points">
                        <span class="green">Reward Points Earned = 0 (INR 0)</span>
                        <span>1 Reward Point = 1 INR</span>
                    </div>
                </div>
            </div>
            <div class="shipping_wrap mt-15">
                <label class="shipping_option">
                    <input type="radio" name="name">
                    <div class="shipping_desc">
                        <div class="bookSum_points">
                            <h4>RazorPay</h4>
                            <span> Pay via RazorPay using your Credit Card, Debit Card, UPI or Net Banking. </span>
                        </div>
                    </div>
                </label>
                <label class="shipping_option">
                    <input type="radio" name="name">
                    <div class="bookSum_points">
                        <h4>Paytm</h4>
                        <span> Pay via RazorPay using your Credit Card, Debit Card, UPI or Net Banking. </span>
                    </div>
                    
                </label>
                <label class="shipping_option">
                    <input type="radio" name="name">
                    <div class="bookSum_points">
                        <h4>Gpay</h4>
                        <span> Pay via RazorPay using your Credit Card, Debit Card, UPI or Net Banking. </span>
                    </div>
                    
                </label>
                <div class="bookSum_footer">
                    <button class="order_btn"  [routerLink]="'/confirmation'">
                        place order 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>