
<section class="section3">
  <div class="seaction_card">
    <h1 class="section_heading">
      All Pujas Top categories just below to the slider</h1>
    <ul class="card_wrap">
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-659-S1_107284.jpg" alt="img">
        <h4>Gajakarna Ganesh Superfine Brass Idol</h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Gemstone/D-281-S_97932.jpg" alt="img">
        <h4>Basra Pearl Stone - 4.4 Carats</h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/H-4825-S_88803.jpg" alt="img">
        <h4>Majestic Dashavatar (Ten Incarnations of Vishnu) Shaligram Idol </h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductThumbnails/Other/12639H-3506-S.jpg" alt="img">
        <h4>Shree Ganesh Yantra Ring in Pure Gold (22K)</h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other_Products/11546H-2779.S1.jpg" alt="img">
        <h4>Bal Gopal (Baby Krishna) Idol (925 Sterling Silver) </h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Gemstone/K-25900-S_88502.jpg" alt="img">
        <h4>Cats Eye Kanak Kheth - 4.7 Carats </h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/CAY03_122604.gif" alt="img">
        <h4>Cats Eye Kanak Kheth - 4.7 Carats</h4>
      </li>
      <li>
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
        <h4>Shree Krishna Yantra on Orange Jade</h4>
      </li>
     </ul>
  </div>
  <div class="seaction_card">
    <h1 class="section_heading">List of categories</h1>
    <ul class="card_category card_wrap">
     <li>
       <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
       <h4>Lorem Ispum</h4>
     </li>
     <li>
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <h4>Lorem Ispum</h4>
     </li>
     <li>
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <h4>Lorem Ispum</h4>
     </li>
     <li>
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <h4>Lorem Ispum</h4>
     </li>
    </ul>
  </div>

  </section>