
<section class="section3">
  <div class="seaction_card trans-unset" data-aos="zoom-out-right">
    <h1 class="section_heading">
      All Pujas Top categories just below to the slider</h1>
    <ul class="card_wrap">
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-659-S1_107284.jpg" alt="img">
        <!-- <h4 >Gajakarna Ganesh Superfine Brass Idol</h4> -->
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Gemstone/D-281-S_97932.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/H-4825-S_88803.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductThumbnails/Other/12639H-3506-S.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other_Products/11546H-2779.S1.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Gemstone/K-25900-S_88502.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/CAY03_122604.gif" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
      </li>
     </ul>
  </div>
  <div class="seaction_card trans-unset" data-aos="zoom-out-left">
    <h1 class="section_heading">List of categories</h1>
    <ul class="card_category card_wrap">
      <li class="hoverCard" [routerLink]="'./listing'">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
        <div class="onHoverOptions hoverCont">
          <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
     </li>
      <li class="hoverCard" [routerLink]="'./listing'">
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <div class="onHoverOptions hoverCont">
        <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
      </div>
     </li>
      <li class="hoverCard" [routerLink]="'./listing'">
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <div class="onHoverOptions hoverCont">
        <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
      </div>
     </li>
      <li class="hoverCard" [routerLink]="'./listing'">
      <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/NK-392-S_99597.jpg" alt="img">
      <div class="onHoverOptions hoverCont">
        <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
      </div>
     </li>
    </ul>
  </div>

  </section>