<!-- <div class="product">
    <div class="product-thumb">
        <a class="image">
            <img class="image-hover" src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/SPS234_87957.jpg">
        </a>
    </div>
    <div class="product-info">
        <h6 class="title">
            <a href="#">Natural Rough Tulsi Mala</a>
        </h6>
        <h4 class="desc">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ipsam itaque eligendi neque exercitationem eius quae in quod, rem quo minima sequi vitae rerum repudiandae tempore beatae eos, consequatur explicabo?
        </h4>
        <div class="additional-details-wrapper">
            <span class="sub-detail">
                <span class="prop-head">Product Code:</span>
                TM09
            </span>
            <span class="price"> INR 200 - 785 </span>
        </div>
        <div class="book_btn">
            <button>
                View Detail
            </button>
        </div>
    </div>
</div> -->




<div class="post post-shadow">
    <a class="post-media hoverCard" type="button">
        <img src="https://s3.amazonaws.com/RudraCentre/ProductThumbnail/Other/SPS234_87957.jpg" alt="">
        <div class="post-hover-btn hoverCont">
            <app-on-hover-actions [showButtons]="true"></app-on-hover-actions>
        </div>
    </a>
    <div class="post-content" [routerLink]="'/detail'">
        <div class="post-tags group-5 text-small">
            <a class="post-tag" type="button">Product Code: TM09</a>
        </div>
        <h4 class="post-title text-divider">
            <a type="button">Natural Rough Tulsi Mala</a>
        </h4>
        <div class="post-date">INR 200 - 785</div>
    </div>
</div>
