.breadcrumb-wrapper{
    padding: 10px 0;

}
.detail-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 50px;
}
.product-summery {
    position: relative;
}
.product-title-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;    line-height: 1.1675;
}
.product-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.175;
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    color: #333;
}
.product-code {
    font-size: 14px;
    color: #222;
    margin-bottom: 8px;
    margin-top: 0;
}
.fw-semibold {
    font-weight: 600;
}
.puja-info p {
    font-size: 16px;
}
.puja-info p span {
    font-weight: 500;
    color: #222;
}
.puja-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}
.pooja-options ~ .puja-info{
    margin-top: 20px;
}
.form_head{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;
}
.form_head ~ label{
    font-size: 14px;
}
.self-end{
    align-self: flex-end;
}
.grid1-3{
    grid-column: 1 / 3;
}
.desc{
    margin: 0 !important;
}
.more-desc{
    text-decoration: underline;
    color: var(--primary-theme);
    font-size: 14px;
    cursor: pointer;
}
.puja-btn{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    button{
        padding: 10px 30px;
        font-size: 16px;
        font-family: Poppins;
        background: transparent;
        border-radius: 10px;
        font-weight: 500;
    }
    button:nth-child(1){
        border: 2px solid var(--primary-theme);
        color: var(--primary-theme);
    }
    button:nth-child(2){
        border: 0;
        background: var(--primary-theme);
        color: #fff;
    }
}
app-listing-card{
    margin-right: 20px;
    display: block;
}
.releted-product{
    .p-carousel-indicators {
        display: none;
    }
    .p-carousel{
        position: relative;
    }
    .p-carousel-prev{
        right: 60px;
    }
    .p-carousel-next{
        right: 0;
    }
    .p-carousel-prev, 
    .p-carousel-next{
        position: absolute;
        top: -64px;
        z-index: 1;
        height: 50px;
        width: 50px;
        border-radius: 35%;
        border: 0;
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
    }
}
.mainImg {
    overflow: hidden;
    width: 100%;
}
.mainImg img {
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease, transform-origin 0.9s ease;
    transform-origin: center;
  }

  .mainImg:hover img {
    transform: scale(2.5);
  }
  .thumImg img{
    width: 100%;
  }
  .thumImg {
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-theme);
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.productImages p-galleriathumbnails {
    margin-top: 15px;
}
.productImages .p-galleria-thumbnail-prev, 
.productImages .p-galleria-thumbnail-next{
    background-color: var(--primary-theme);
    color: #fff;
    border: 1px solid var(--primary-theme);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    width: 35px;
    height: 35px;
}
.detail_popup{
    .p-dialog{
        border-radius: 10px;
        background: #Ffff;
    }
    .p-dialog .p-dialog-header {
        border-bottom: 0 none;
        color: #334155;
        padding: 1.5rem;
    }
    .p-dialog-content {
        color: #334155;
        padding: 0 1.5rem 1.5rem 1.5rem;
        overflow-y: auto;
        flex-grow: 1;
    }
    .p-dialog-header-close{
        width: 1.75rem;
        height: 1.75rem;
        color: #64748b;
        border: 0 none;
        background: transparent;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
        margin-right: 0.5rem;
    }
    .p-dialog-title{
        font-size: 16px !important;
        font-weight: 500;
    }
} 

@media screen and (max-width:960px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .p-galleria-thumbnail-item {
        flex: 1 0 33.333333333333336% !important;
    }
    .detail-body,
    .puja-info{
        grid-template-columns: 100%;
    }
}