<nav aria-label="breadcrumb">
    <ol class="default-breadcrumb">
        <li class="crumb">
          <div class="link"><a href="#">Home</a></div>
        </li>
        <li class="crumb">
          <div class="link"><a href="#">Categories</a></div>
        </li>
        <li class="crumb">
          <div class="link"><a href="#">Products</a></div>
        </li>
        <li class="crumb">
          <div class="link"><a href="#">Navigation</a></div>
        </li>
        <li class="crumb active">
            <div class="link"><span aria-current="location">Breadcrumbs Last Item Is Too Long</span></div>
        </li>
    </ol>
</nav>