
<div class="profile_main">
    <span class="material-symbols-outlined" style=" font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24">
        shopping_cart
    </span>
    <div class="profile_text">
        <h2>Order Detail</h2>
        <h4>Check Your Order and order details </h4>
    </div>
</div>
<div class="order_detail">
    <table>
        <thead>
            <th>Sr No.</th>
            <th>Date</th>
            <th>Order Id</th>
            <th>Order Value</th>
            <th>Reward Points</th>
            <th>Status</th>
        </thead>
        <tbody>
            <td>01</td>
            <td>02 WED 2024</td>
            <td>02</td>
            <td>100</td>
            <td>Pending</td>
        </tbody>
    </table>
</div>