
<section class="section6">
    <h1 class="section_heading">Purpose wise Pujas</h1>
    <div class="card_essential">
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
      <div class="card_esseWrap">
        <img src="https://s3.amazonaws.com/RudraCentre/Test/ProductImages/blog/Yantra-Yantra-Properties-1.jpg" alt="">
        <div class="card_esseText">
          <h5>Best of Action Toys</h5>
          <h4>Up to 70% Off</h4>
        </div>
      </div>
    </div>
  </section>